#lightdark {
    position: relative;

    .dark-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: var(--color-gray-900);
        width: 50vw;
       z-index: -1;
    }

    .container {
        padding: 3rem 0;
        text-align: center;
        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 3rem 0;
            gap: 20px;

            h1 {
                flex: 1;
            }

            .light {
                text-align: right;
                color: var(--color-white);
            }

            .dark {
                text-align: left;
                margin-left: 20px;
                color: var(--color-gray-900);
            }

            img {
               
            }
        }
    }
}